{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load static %}
<div class="full flex flex-col gap-[20px] p-10 mt-[20px]  ">
    <div class="w-[80%]  flex  p-5 productcon flex-col gap-[20px]">
        <div class="w-full h-fit rounded-md shadow-md p-5 flex justify-between items-center">
            <div>
                <img class="rounded-md w-[100px] h-[100px]" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}">
                <div class="productname"></div>
                
                
            </div>
            <div class="sprice">
                1234

            </div>
            
            <div class="flex gap-[10px] justify-center items-center">
                <button class="plusbtn">

                    <i class="fa-solid fa-plus"></i>
                </button>
                <div class="qty">1</div>
                <button class="minusbtn">

                    <i class="fa-solid fa-minus"></i>
                </button>

            </div>

            <div class="price h-fit">
                1234

            </div>

        </div>

    </div>
    <div >
        <h1 class=" text-[20px]">Cart Total</h1>
        <h1 class="tprice font-bold my-10 ">0</h1>
        
        

        <button class="addtocart rounded-md py-3 px-7 bg-[blue] text-white ">Purchase</button>

    </div>

</div>
<script>
    // let price = 0
  
    let productcon =document.querySelector(".productcon")
    let tprice =document.querySelector(".tprice")
    let sprice =document.querySelector(".s-price")
    // let addtocart =document.querySelector(".addtocart")
    let data = JSON.parse(" {{ item|safe }} ".replaceAll(`'`, `"`))



    let a =""
    if ( "{{ user.is_authenticated|safe }}".trim() =="True"){

data.forEach(ee=>{

    a+=`<div data-obj=${JSON.stringify(ee)} class="w-full h-fit rounded-md shadow-md p-5 flex justify-between items-center">
            <div>
                <img class="rounded-md w-[100px] h-[100px]" src="/static/foodimg/${ee.image}">
                <div class="productname"></div>
                
                
            </div>
            <div class="sprice">
                ${ee.price}

            </div>
            
            <div class="flex gap-[10px] justify-center items-center">
                <button class="plusbtn">

                    <i class="fa-solid fa-plus"></i>
                </button>
                <div class="qty">${ee.quantity}</div>
                <button class="minusbtn">

                    <i class="fa-solid fa-minus"></i>
                </button>

            </div>

            <div class="price h-fit">
               ${ee.price * ee.quantity}

            </div>

        </div>`

        tpricevalue = +tprice.textContent
        tpricevalue.textContent = tpricevalue+(ee.price * ee.quantity)

})
    }
    else{

        let v = localStorage.getItem("cartv");
        console.log(v)
        if(v){

            JSON.parse(v).forEach(ee=>{
                a+=`<div data-obj=${JSON.stringify(ee)} class="w-full h-fit rounded-md shadow-md p-5 flex justify-between items-center">
                <div>
                    <img class="rounded-md w-[100px] h-[100px]" src="/static/foodimg/${ee.image}">
                    <div class="productname"></div>
                    
                    
                </div>
                <div class="sprice">
                    ${ee.price}
    
                </div>
                
                <div class="flex gap-[10px] justify-center items-center">
                    <button class="plusbtn">
    
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <div class="qty">${ee.quantity}</div>
                    <button class="minusbtn">
    
                        <i class="fa-solid fa-minus"></i>
                    </button>
    
                </div>
    
                <div class="price h-fit">
                    ${ee.price * ee.quantity}
    
                </div>
    
            </div>`

            tpricevalue = +tprice.textContent
        tpricevalue.textContent = tpricevalue+(ee.price * ee.quantity)
            })
        }


    }




let timeout = null
// let productcon = document.querySelector(".productcon")
productcon.innerHTML=a


let plusbtn = document.querySelectorAll(".plusbtn")
    let minusbtn = document.querySelectorAll(".minusbtn")
    // let qty = document.querySelectorAll(".qty")
    
    
    plusbtn.forEach(e=>{
        
        
        
        e.addEventListener("click",e=>{
            clearTimeout(timeout)
            let parent = e.currentTarget.parentElement.parentElement
            // let price = document.querySelector(".price")
        let qty = parent.querySelector(".qty")
        let price = parent.querySelector(".price")
        let data =JSON.parse(parent.dataset.obj)
        let totalprice =+qty.textContent


       
        qty.textContent = totalprice+1
        price.textContent = (totalprice+1) * data.price
        tpricevalue = +tprice.textContent
        tpricevalue.textContent = tpricevalue+price
        let cart = localStorage.getItem("cartv");
        if(cart){
            cart = JSON.parse(cart)
            let index  = cart.findIndex(eee=>eee.id==data.id)
            cart[index].quantity = totalprice+1
            localStorage.setItem("cartv",JSON.stringify(cart))


        }
        timeout = setTimeout(()=>{
            // addtocart
        },2000)

        
   
    

    
   
       







          




        
    })
    })

    
    minusbtn.forEach(e=>{

   
    
    e.addEventListener("click",e=>{
        clearTimeout(timeout)
        let parent = e.currentTarget.parentElement.parentElement
        let qty = parent.querySelector(".qty")
        let price = parent.querySelector(".price")
        let data =JSON.parse(parent.dataset.obj)
        let totalprice =+qty.textContent


       
        qty.textContent = totalprice-1||1
        price.textContent = (totalprice-1||1) * data.price
        tpricevalue = +tprice.textContent
        tpricevalue.textContent = tpricevalue+price
        let cart = localStorage.getItem("cartv");
        if(cart){
            cart = JSON.parse(cart)
            let index  = cart.findIndex(eee=>eee.id==data.id)
            cart[index].quantity = totalprice-1 || 1
            localStorage.setItem("cartv",JSON.stringify(cart))


        }
        timeout = setTimeout(()=>{
            // addtocart
        },2000)

        
   
    

    
   
       







          




        
    })
    })

    
let addtocart =  async ()=>{
    if ( "{{ user.is_authenticated|safe }}".trim() =="True"){
        let cart = localStorage.getItem("cartv");
        if(cart){

          await  fetch("/cart/addtocart",{
                method:"post",
                body:JSON.stringify(cart),
                headers:{
                    "Content-Type": "application/json",
                }
            })
        }

        alert("your order is being processed thank you for choosing chops")


}else{

    alert("please login to prchase your item")

}
}

</script>



{% endblock %}
