{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load static %}
<div class="full flex flex-col gap-[20px] p-10 mt-[20px]  ">
    <div class="w-[80%]  flex  p-5 productcon flex-col gap-[20px]">
        <div class="w-full h-fit rounded-md shadow-md p-5 flex justify-between items-center">
            <div>
                <img class="rounded-md w-[100px] h-[100px]" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}">
                <div class="productname"></div>
                
                
            </div>
            <div class="sprice">
                1234

            </div>
            
            <div class="flex gap-[10px] justify-center items-center">
                <button class="plusbtn">

                    <i class="fa-solid fa-plus"></i>
                </button>
                <div class="qty">1</div>
                <button class="minusbtn">

                    <i class="fa-solid fa-minus"></i>
                </button>

            </div>

            <div class="price h-fit">
                1234

            </div>

        </div>

    </div>
    <div >
        <h1 class=" text-[20px]">Cart Total</h1>
        <h1 class="tprice font-bold my-10 ">0</h1>
        
        

        <button class="addtocart rounded-md py-3 px-7 bg-[blue] text-white flex gap-5 items-center ">
           <span>
               Purchase

           </span>
           

            <svg
            class="animate-spin h-5 w-5 text-current load hidden"
            fill="none"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              strokeWidth="4"
            />
            <path
              class="opacity-75"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              fill="currentColor"
            />
          </svg>
        </button>

    </div>

</div>
<script>
    // let price = 0
  
    let productcon =document.querySelector(".productcon")
    let tprice =document.querySelector(".tprice")
    let sprice =document.querySelector(".s-price")
    let load =document.querySelector(".load")
    let purchase =document.querySelector(".addtocart")
    // let addtocart =document.querySelector(".addtocart")
    let data = JSON.parse(" {{ item|safe }} ".replaceAll(`'`, `"`))



    let a =""
    if ( "{{ user.is_authenticated|safe }}".trim() =="True"){

data.forEach(ee=>{

    a+=`<div data-obj=${JSON.stringify(ee)} class="w-full h-fit rounded-md shadow-md p-5 flex justify-between items-center">
            <div>
                <img class="rounded-md w-[100px] h-[100px]" src="/static/foodimg/${ee.image}">
                <div class="productname"></div>
                
                
            </div>
            <div class="sprice">
                ${ee.price}

            </div>
            
            <div class="flex gap-[10px] justify-center items-center">
                <button class="plusbtn">

                    <i class="fa-solid fa-plus"></i>
                </button>
                <div class="qty">${ee.quantity}</div>
                <button class="minusbtn">

                    <i class="fa-solid fa-minus"></i>
                </button>

            </div>

            <div class="price h-fit">
               ${ee.price * ee.quantity}

            </div>

        </div>`

        let tpricevalue = +tprice.textContent
        tprice.textContent = tpricevalue+(ee.price * ee.quantity)

})
    }
    else{

        let v = localStorage.getItem("cartv");
        console.log(v)
        if(v){

            JSON.parse(v).forEach(ee=>{
                a+=`<div data-obj=${JSON.stringify(ee)} class="w-full h-fit rounded-md shadow-md p-5 flex justify-between items-center">
                <div>
                    <img class="rounded-md w-[100px] h-[100px]" src="/static/foodimg/${ee.image}">
                    <div class="productname"></div>
                    
                    
                </div>
                <div class="sprice">
                    ${ee.price}
    
                </div>
                
                <div class="flex gap-[10px] justify-center items-center">
                    <button class="plusbtn">
    
                        <i class="fa-solid fa-plus"></i>
                    </button>
                    <div class="qty">${ee.quantity}</div>
                    <button class="minusbtn">
    
                        <i class="fa-solid fa-minus"></i>
                    </button>
    
                </div>
    
                <div class="price h-fit">
                    ${ee.price * ee.quantity}
    
                </div>
    
            </div>`

           let  tpricevalue = +tprice.textContent
        tprice.textContent = tpricevalue+(ee.price * ee.quantity)
            })
        }


    }




let timeout = null
let timeout2 = null
let timeout1 = null
// let productcon = document.querySelector(".productcon")
productcon.innerHTML=a

let addtotimecart =async()=>{

clearTimeout(timeout1)
timeout1 = setTimeout(async ()=>{
         await   addtocart()
        },2000)
}

let plusbtn = document.querySelectorAll(".plusbtn")
    let minusbtn = document.querySelectorAll(".minusbtn")
    // let qty = document.querySelectorAll(".qty")
    
    
    plusbtn.forEach(e=>{
        
        clearTimeout(timeout1)
        
        e.addEventListener("click",async (e)=>{
            clearTimeout(timeout)
            let parent = e.currentTarget.parentElement.parentElement
            // let price = document.querySelector(".price")
        let qty = parent.querySelector(".qty")
        let price = parent.querySelector(".price")
        let data =JSON.parse(parent.dataset.obj)
        let totalprice =+qty.textContent


       
        qty.textContent = totalprice+1
        price.textContent = (totalprice+1) * data.price
       let tpricevalue = +tprice.textContent
        tprice.textContent = tpricevalue + (+data.price)
        let cart = localStorage.getItem("cartv");
        if(cart){
            cart = JSON.parse(cart)
            let index  = cart.findIndex(eee=>eee.id==data.id)
            console.log(index,cart,data)
            if(index>=0){

                cart[index].quantity = totalprice+1
                localStorage.setItem("cartv",JSON.stringify(cart))
                
            }

      


        }
      

        
   
    

    
   
       
addtotimecart()







          




        
    })
    })

    
    minusbtn.forEach(e=>{

   
    
    e.addEventListener("click",async (e)=>{
        clearTimeout(timeout)
        let parent = e.currentTarget.parentElement.parentElement
        let qty = parent.querySelector(".qty")
        let price = parent.querySelector(".price")
        let data =JSON.parse(parent.dataset.obj)
        let totalprice =+qty.textContent


       
        qty.textContent = totalprice-1||1
        price.textContent = (totalprice-1||1) * data.price
      let  tpricevalue = +tprice.textContent
        tprice.textContent = tpricevalue+ (+data.price)
        let cart = localStorage.getItem("cartv");
        if(cart){
            cart = JSON.parse(cart)
            let index  = cart.findIndex(eee=>eee.id==data.id)
            cart[index].quantity = totalprice-1 || 1
            localStorage.setItem("cartv",JSON.stringify(cart))


        }
       await addtotimecart()

        
   
    

    
   
       






          




        
    })
    })

    
let addtocart =  async ()=>{
    if ( "{{ user.is_authenticated|safe }}".trim() =="True"){
        let cart = localStorage.getItem("cartv");
        if(cart){

            try{
                load.classList.add("remove")
                await  fetch("/cart/addtocart",{
                      method:"post",
                      body:JSON.stringify(cart),
                      headers:{
                          "Content-Type": "application/json",
                      }
                  })
            }
            catch(e){

                alert("an error occured")
            }
            finally{
                load.classList.add("hidden")
            }

        }

        alert("your order is being processed thank you for choosing chops")


}else{

    alert("please login to prchase your item")

}
}

purchase.addEventListener("click",addtocart)
</script>



{% endblock %}
