{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Home" %}{% endblock %}
{% block extra_head %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description" content="Home">
    <meta name="keywords" content="Ecommerce site">
    <meta name="author" content="dussy">
   
  

{% endblock %}

{% block content %}

<div class="w-full  ">
    {% load static %}
    <section class="text-white w-full h-[70vh] bg-[url('{% static 'lidye-1Shk_PkNkNw-unsplash.jpg' %}')] bg-center bg-no-repeat bg-cover flex justify-center flex-col font-bold p-5 ">

        <h3 class="text-[10px] sm:text-[30px] text-[60px] ">Welcome to our</h3>
        <h1 class="text-[20px] sm:text-[50px] md:text-[100px]">E COMMERCE MALL</h1>
        <p class="text-[10px] md:text-[20px]">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae vitae necessitatibus distinctio voluptatum sunt quae earum fugiat excepturi est ab?</p>

        <a href="{% url 'account_signup' %}" class="w-fit mt-10 px-10 bg-[rgb(5,5,94)] rounded-md p-5">Get Started</a>

    </section>
    <section class=" w-full  bg-center bg-no-repeat bg-cover flex justify-center  flex-col p-5 bg-[rgb(241,241,248)] p-5">
        <h1 class="m-10 text-[20px] font-bold text-center">Our services</h1>
        <div class=" w-full flex justify-center gap-[10px] items-center   bg-white flex-col  md:flex-row">
            <div class="w-[100%] px-5 py-10 flex flex-col justify-center items-center">
                
                <div class="w-full h-[250px] overflow-clip flex justify-center items-center">

                    <img alt="heroimage" class="rounded-md" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}">
                </div>
              <h1>Sumptious</h1>
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sunt adipisci laboriosam fuga unde voluptates voluptas ducimus blanditiis odio soluta.</p>
            </div>
            <div class="w-[100%] px-5 py-10 flex flex-col justify-center items-center">
                
                <div class="w-full h-[250px] overflow-clip flex justify-center items-center">

                    <img alt="sectionimage" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}" class="rounded-md">
                </div>
              <h1>Sumptious</h1>
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sunt adipisci laboriosam fuga unde voluptates voluptas ducimus blanditiis odio soluta.</p>
            </div>
            <div class="w-[100%] px-5 py-10 flex flex-col justify-center items-center">
                
                <div class="w-full h-[250px] overflow-clip flex justify-center items-center">

                    <img alt="sectionimage" class="rounded-md" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}">
                </div>
              <h1>Sumptious</h1>
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sunt adipisci laboriosam fuga unde voluptates voluptas ducimus blanditiis odio soluta.</p>
            </div>
      
           
           
        </div>
    </section>
    <section class=" w-full  bg-center bg-no-repeat bg-cover flex justify-center  flex-col p-5 bg-[rgb(241,241,248)] p-5">
        <h1 class="m-10 text-[20px] font-bold text-center">sponsored meals</h1>
        <div class=" w-full flex justify-center gap-[10px] items-center   bg-white flex-col  md:flex-row">
            <div class="w-[100%] px-5 py-10 flex flex-col justify-center items-center">
                
                <div class="w-full h-[250px] overflow-clip flex justify-center items-center">

                    <img alt="sectionimage" class="rounded-md" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}">
                </div>
              <h1>Sumptious</h1>
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sunt adipisci laboriosam fuga unde voluptates voluptas ducimus blanditiis odio soluta.</p>
            </div>
            <div class="w-[100%] px-5 py-10 flex flex-col justify-center items-center">
                
                <div class="w-full h-[250px] overflow-clip flex justify-center items-center">

                    <img alt="sectionimage" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}" class="rounded-md">
                </div>
              <h1>Sumptious</h1>
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sunt adipisci laboriosam fuga unde voluptates voluptas ducimus blanditiis odio soluta.</p>
            </div>
            <div class="w-[100%] px-5 py-10 flex flex-col justify-center items-center">
                
                <div class="w-full h-[250px] overflow-clip flex justify-center items-center">

                    <img alt="sectionimage" class="rounded-md" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}">
                </div>
              <h1>Sumptious</h1>
              <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam sunt adipisci laboriosam fuga unde voluptates voluptas ducimus blanditiis odio soluta.</p>
            </div>
      
           
           
        </div>
    </section>
  
</div>



{% endblock %}
