{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load static %}
<div class="full flex flex-col gap-[20px] p-10 mt-[20px]  items-center">
    <h1 class="font-bold">Product List</h1>
   <div class="w-full max-w-[1000px]">
        <input class="search w-full px-5 py-3   rounded-md shadow-md" placeholder="search"/>
   </div>
   <div class="w-full flex flex-wrap gap-[10px]  ">

    <a class="w-full max-w-[400px] hover:opacity-50 h-[400px] overflow-clip p-5 rounded-md shadow-md">
        <div class="w-full h-[200px] bg-[url('{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}')] bg-cover bg-center bg-no-repeat">



        </div>
        <div class="w-full">
            <div class="my-5 flex w-full justify-between items-center">

                <h1 class="name font-bold">rice</h1>
                <h2 class="price">23</h2>
            </div>
            <p class="des">
               odio obcaecati itaque? A cumque, alias accusantium rerum est enim explicabo quisquam, eveniet aperiam maxime, earum dolor magnam nihil?


            </p>
        </div>

    </a>

   </div>

</div>
    <script>
        let price = 0
        let qty = document.querySelector(".qty")
        let tprice =document.querySelector(".tprice")
        let sprice =document.querySelector(".s-price")
        let addtocart =document.querySelector(".addtocart")


        qty.addEventListener("change",e=>{

            if(e.target.value>0){
                tprice.textContent =  e.target.value * sprice.textContent
            }
        })
        addtocart.addEventListener("click",e=>{
            if(tprice.textContent>0){

            }
        })

        


    </script>



{% endblock %}
