{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "products" %}{% endblock %}

{% block content %}
{% load static %}
{% block extra_head %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description" content="Product list">
    <meta name="keywords" content="view our list of products">
    <meta name="author" content="dussy">
    {% endblock %}
{% get_static_prefix as STATIC_URL %}
<div class="full flex flex-col gap-[20px] p-10 mt-[20px]  items-center">
    <h1 class="font-bold">Product List</h1>
   <div class="w-full max-w-[1000px]">
        <input type="text" class="search w-full px-5 py-3    rounded-md shadow-md" placeholder="search"/>
   </div>
   <div class="w-full flex flex-wrap gap-[10px]  productcon  ">

    {%  for val in data   %}
    

    <a class="w-full max-w-[350px] hover:opacity-50  overflow-clip p-5 rounded-md shadow-md" href="/products/{{ val.id }}">
        <div class="w-full h-[200px] bg-[url('{{ STATIC_URL }}foodimg/{{ val.image }}')] bg-cover bg-center bg-no-repeat">



        </div>
        <div class="w-full">
            <div class="my-5 flex w-full justify-between items-center">

                <h1 class="name font-bold">{{ val.name }}</h1>
                <h2 class="price">{{ val.price }}</h2>
            </div>
            <p class="flex gap-2">
                {% with ''|center:val.ratings as range %}
                {% for vall in range %}
                 <img  class="w-[20px]" alt="rating" src="{{ STATIC_URL }}rate/star-svgrepo-com (1).svg"/>
                 <!-- <img  class="w-[20px]" src="{{ STATIC_URL }}rate/star-svgrepo-com (1).svg"/> -->

                {% endfor %}
                {% endwith %}
            </p>
          
        </div>

    </a>

    {%endfor%}

   </div>

</div>
    <script>

        let timeout = null
        let data = JSON.parse("{{ data|safe }}".replaceAll(`'`, `"`))
        console.log(data,data[0])


        
        let search = document.querySelector(".search")
        console.log(search)



        search.addEventListener("input",e=>{
            let target = e.currentTarget
            console.log("gkgkkgk")
            clearTimeout(timeout)


           timeout = setTimeout(()=>{


          
           let filterdata =  data.filter(ee=> ee["name"].toLowerCase() .includes(target.value.toLowerCase().trim()))
           let productcon = document.querySelector(".productcon")

           let a = ""


        filterdata.forEach(val=>{
            a+=`
            
            <a href="/products/${val["id"]}" class="w-full max-w-[350px] hover:opacity-50  overflow-clip p-5 rounded-md shadow-md">
        <div class="w-full h-[200px] bg-[url('static/foodimg/${ val["image"] }')] bg-cover bg-center bg-no-repeat">



        </div>
        <div class="w-full">
            <div class="my-5 flex w-full justify-between items-center">

                <h1 class="name font-bold">${ val["name"] }</h1>
                <h2 class="price">${ val["price"] }</h2>
            </div>
            <p class="flex gap-2">
               
                ${ 
                    (()=>{

                        let aa =""
                        for (i=0;i<=val["ratings"];i++){
                            console.log("mdmdmdm")

                          aa+=`  <img alt="product"  class="w-[20px]" src="static/rate/star-svgrepo-com (1).svg"/>`
                        }

                        return aa
                    })()



                 }


             
            </p>
          
        </div>

    </a>
            
            
            `
        })


        console.log(a,filterdata)
        productcon.innerHTML=a
        



          
    
    
    },1000)





        })

        


    </script>



{% endblock %}
