{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load static %}
{% get_static_prefix as STATIC_URL %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description" content="Product review">
    <meta name="keywords" content="{{item.name}}">
    <meta name="author" content="dussy">
   
  
<title>About us</title>

<div class="full flex flex-col gap-[20px] p-10 mt-[20px] md:flex-row items-center">
    <div class="w-[50%] overflow-clip flex justify-center items-center">
        <im alt="products"g class="rounded-md" src="{{ STATIC_URL }}foodimg/{{ item.image }}">

    </div>
    <div >
        <h1 class="font-bold text-[30px]">{{item.name}}</h1>
        <div class="flex gap-2 items-center">

            {% with ''|center:item.ratings as range %}
            {% for vall in range %}
             <img alt="ratings"  class="w-[20px]" src="{{ STATIC_URL }}rate/star-svgrepo-com (1).svg"/>
             <!-- <img  class="w-[20px]" src="{{ STATIC_URL }}rate/star-svgrepo-com (1).svg"/> -->
    
            {% endfor %}
            {% endwith %}
        </div>
        <h1 class=" text-[30px] font-bold color-red my-5">$<span class="s-price">{{item.price}}</span></h1>

        <div>
            <p>Quantity: </p>
            <input class="qty border-[1px] border-[black]"  type="number" placeholder="0"/>
        </div>

        <h2 class="mt-10 mb-5">Available: <b>stock</b></h2>

        <div>
            <p class="font-bold">Total price</p>
            <h1 class="tprice font-bold text-[25px]">{{item.price}}</h1>
        </div>

        <button class="addtocart rounded-md py-3 px-7 bg-[blue] text-white">Add to cart</button>

    </div>

</div>
    <script>
        let price = 0
        let qty = document.querySelector(".qty")
        let tprice =document.querySelector(".tprice")
        let sprice =document.querySelector(".s-price")
        let addtocart =document.querySelector(".addtocart")
        let data = JSON.parse("{{ item|safe }}".replaceAll(`'`, `"`))


        qty.addEventListener("change",async (e)=>{

            if(e.target.value<=0){
               e.target.value=1
            }
            if(e.target.value>0){
                tprice.textContent =  e.target.value * sprice.textContent
            }
        })
        addtocart.addEventListener("click",async (e)=>{
            console.log("smmssm",+tprice.textContent>0)
            if(+tprice.textContent>0){


                let cart = localStorage.getItem("cartv");
                console.log(cart,"1")
                if(cart){
                    cart=JSON.parse(cart)
                    console.log(cart,"2")
                }
                else{
                    console.log(cart,"3")
                    cart=[]
                    console.log(cart,"1")
                }
                
                let index= cart.findIndex(ee=>ee.id==data.id)
                
                if(index>=0){
                    cart[index].quantity=qty.value
                }else{
                    
                    cart =[...cart,{...data,quantity:qty.value}]
                }
                console.log(cart,"5")







                if ( "{{ user.is_authenticated|safe }}".trim() =="True"){

try{
    letv =    await  fetch("/cart/addtocart",{
              method:"post",
              headers:{
          "Content-Type": "application/json",
      },
              body:JSON.stringify(cart)
          })
    
}catch(e){
}
}

localStorage.setItem("cartv",JSON.stringify(cart));
alert("Added to cart");


                console.log(cart,"6")

            }
        })

        


    </script>
    <!-- 


        id quantity , 
     -->



{% endblock %}
