{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
{% load static %}
<div class="full flex flex-col gap-[20px] p-10 mt-[20px] md:flex-row items-center">
    <div class="w-[50%] overflow-clip flex justify-center items-center">
        <img class="rounded-md" src="{% static 'anna-pelzer-IGfIGP5ONV0-unsplash.jpg'%}">

    </div>
    <div >
        <h1 class="font-bold text-[30px]">Food1</h1>
        <img class="w-[100px] py-10"  src="{%static '16231558095-star-rating.svg'%}" alt="ratings">
        <h1 class=" text-[30px] font-bold color-red my-5">$<span class="s-price">285</span></h1>

        <div>
            <p>Quantity: </p>
            <input class="qty border-[1px] border-[black]" type="number" placeholder="0"/>
        </div>

        <h2 class="mt-10 mb-5">Available: <b>stock</b></h2>

        <div>
            <p class="font-bold">Total price</p>
            <h1 class="tprice font-bold text-[25px]">285</h1>
        </div>

        <button class="addtocart rounded-md py-3 px-7 bg-[blue] text-white">Add to cart</button>

    </div>

</div>
    <script>
        let price = 0
        let qty = document.querySelector(".qty")
        let tprice =document.querySelector(".tprice")
        let sprice =document.querySelector(".s-price")
        let addtocart =document.querySelector(".addtocart")


        qty.addEventListener("change",e=>{

            if(e.target.value>0){
                tprice.textContent =  e.target.value * sprice.textContent
            }
        })
        addtocart.addEventListener("click",e=>{
            if(tprice.textContent>0){

            }
        })

        


    </script>



{% endblock %}
